<div data-controller="emergency">

  <% @clinics.each do |clinic| %>
    <% n = NavigationService.new(clinic.long, clinic.lat, current_user.long, current_user.lat) %>
    <% n.calculate %>
    <div data-emergency-target="clinic">
      <h1>Nome: <%= clinic.name  %></h1>
      <p>Endereço: <%= clinic.address %></p>
      <p>Distancia: <%= (n.distance/1000).round(1) %>Kms</p>
      <p>Tempo de deslocamento: <%= (n.duration/60).round(0) %>min</p>
    </div>
  <% end %>
</div>
