.home-cards-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

.card-title {
  color: #23423f;
  text-align: center;
}

.card-text {
  color: #23423f;
  text-align: center;
}

.next-appointments,
.card-emergency,
.card-position,
.card-new-appointments,
.card-my-appointments,
.card-history,
.card-edit-account {
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  background: #E7EBEB;
  box-shadow: 10px 10px 30px #bebebe;
}

.card-emergency,
.card-position,
.next-appointments,
.card-new-appointments,
.card-my-appointments,
.card-history,
.card-edit-account {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-position: center;
  height: 100%;
  border: 2px solid #bebebe;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #bebebe;
}

.card-emergency {
  background-image: image-url("hospital.png");

  max-width: 100%;
  background-color: #ccdde1;
}

.card-position {
  background-image: image-url("relogio.png");
  background-color: #c7e6e6;
}

.next-appointments {
  background-image: image-url("proximos.png");
  text-align: center;
  color: #64b6ac;
  min-height: 100px;
  background-color: #bbd6d7;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.home-card {
  height: 100%;
  min-height: 170px;
}

@media(max-width: 900px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
  .home-cards-top {
    grid-template-columns: 1fr;
  }
}

.card-new-appointments {
  background-image: image-url("agendar.png");
  background-color: #cadde1;
}

.card-my-appointments {
  background-image: image-url("agendados.png");
  background-color: #d0e6ed;
}

.card-history {
  background-image: image-url("historico.png");
  background-color: #c6dde1;
}

.card-edit-account {
  background-image: image-url("update.png");
  background-color: #cce2e3;
}
