.grid-1 {
  display: flex;
  margin-bottom: 20px;
  color: #64b6ac;
}

.emergency {
  width: calc(70% - 10px);
  margin-right: 30px;
}

.position {
  width: calc(30% - 10px);
}

.card-title {
  color: #64b6ac;
  text-align: center;
}

.card-text {
  color: #325c57;
  text-align: center;
}

.custom-height {
  height: 300px;
}

.card-img {
  height: 300px;
}

.position-image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.next-appointments {
  width: calc(100%);
  text-align: center;
  color: #64b6ac;
  background-color: #c8f5f0;
  margin-left: 10px;
  height: 100%;
}

.date_time {
  color: #325c57;
  text-align: center;
}

.grid-2 {
  display: flex;
  margin-top: 20px;
  color: #64b6ac;
}


.my-appointments, .new-appointments, .history, .edit-account {
  width: calc(25% - 10px);
  color: #64b6ac;
  background-color: #c8f5f0;
  margin-left: 10px;
  padding: 70px;
  box-sizing: border-box;
}
