<footer class="footer">
  <div class="footer-contact-collapse collapse">
    <span><strong>Fale com a gente - 0800 000 0001</span></strong>
  </div>
  <div class="-collapse collapse-collapse collapse" >
    <span>Cuidando da sua saúde no tempo certo.    <%= image_tag("logo.png") %>     <strong>MedLine</strong></span>
  </div>
</footer>
