<footer class="footer">
  <div class="footer-contact">
    <span>Fale com a gente - 0800 000 0001</span>
  </div>
  <div class="footer-content">
    <span>Cuidando da sua saúde no tempo certo.    <%= image_tag("logo.png") %>     MedLine</span>
  </div>
</footer>
