<footer class="footer">
  <div class="footer-contact">
    <span><strong>Fale com a gente - 0800 000 0001</strong></span>
  </div>
  <div class="footer-content">
    <span>Cuidando da sua saúde no tempo certo.</span>
  </div>
  <div class="footer-content">
    <div class="footer-logo">
      <%= image_tag("logo.png") %>
      <strong>MedLine</strong>
    </div>
  </div>
</footer>
