h1 {
  text-align: center;
  align-items: center;
  color: #64B6AC;
}

.container.formappoint {
  margin-top: 10px;
}

.texto {
  margin-bottom: 20px;
}

.card.formappoint {
  padding: 30px;
  border-radius: 30px;
  background: #E7EBEB;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.form-select {
  padding: 10px;
  border-radius: 30px;
}

.form-control {
  padding: 10px;
  border-radius: 30px;
}
