h1 {
  text-align: center;
  align-items: center;
  color: #64B6AC;
}
.container.emergencia {
  margin-top: 10px;
  align-items: center;
}
.emergencias {
  border: 2px solid #bebebe;
  border-radius: 20px;
  padding: 6px;
}

.container.emergencia {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.areas, .corpo {
  //flex-basis: 48%;
  margin-bottom: 1rem;
  padding-top: 20px;
}

.body-image {
  max-width: 100%;
  height: auto;
}

.radio-buttons-container {
  display: flex;
}

.radio-buttons-container label {
  margin-right: 10px;
}

.form-check {
  margin-right: 8px;
}
