.edit-card{
  padding: 30px;
  border-radius: 30px;
  background: #E7EBEB;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
  h1 {
    text-align: center;
    align-items: center;
    color: #64B6AC;
  }
}
