
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 20px;
  color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 5px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-content img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.footer-contact {
  margin-right: auto;
  font-size: 14px;
}

.footer-logo {
  display: flex;
  align-items: center;
}
