.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding:0%;
  height:60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding:0%;
  margin-right: 10px
}


.navbar-lewagon .navbar-brand img {
  width: 76px;
  position: relative;
  float: left;
  line-height: 0;
  height: 100%;
  padding:0%
}

.usuario {
  margin-right: 10px
}
